#root {
	width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.price-chart-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	h2 {
		text-decoration: underline;
	}
}

.price-chart {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
}

.price-chart-view {
	width: 70%;
}

.price-chart-info {
	width: 30%;
}

.atom-price-chart-info {
	margin-bottom: 20px;
}

.atom-price-chart-info,
.uturn-price-chart-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.center-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.line-chart {
	width: 700px;
	height: 650px;
}
